/* VAR */
$fontColor: #000;

/*MIXINS*/
@mixin flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/* FONTS */ 
@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo/Exo2.0-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo/Exo2.0-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo/Exo2.0-SemiBold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo/Exo2.0-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo/Exo2.0-Italic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Myriad";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Myriad";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Myriad";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Myriad";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

/* COMMON */
@media (max-width: 1284px){
	
}
@media (max-width: 1006px){
	
}
@media (max-width: 767px){
	
}
*{
  box-sizing: border-box;
}
body{
  color: $fontColor;
  font-family: 'Exo', sans-serif;
}
a{
  text-decoration: none;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1200px){
    width: 960px;
  }
  @media (max-width: 1006px){
    width: 750px; /*0.755*/
    padding: 0 10px;
  }
  @media (max-width: 767px){
    width: 100%;
  }
}

.clearfix{
  &:after, &:before{
    content: "";
    display: table;
    table-layout: fixed;
  }
  &:after{
    clear: both;
  }
}
.flex {
  display: flex;
}
.button {
  background-color: #ee5730;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
}
.bold {
  font-weight: bold;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  
  .flex {
    justify-content: space-between;
  }
  .logo {
    margin: 0;
  }
  .header-text {
    margin-top: 48px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    
    span {
      text-transform: uppercase;
      font-size: 26px;
    }
  }
  .header-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .phone {
      margin-top: 32px;
      margin-bottom: 7px;
      color: #66bcff;
      font-size: 34px;
      line-height: 34px;
    }

    .button {
      height: 51px;
      padding: 0 35px;
      font-size: 15px;
      text-transform: uppercase;
    }

  }

}
/* BANNER */
.banner-section {
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
  padding-top: 206px;
  padding-bottom: 50px;
  text-transform: uppercase;

  .flex {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  
  p{
    margin: 0;
  }
  .banner-title {
    font-size: 60px;
    line-height: 60px;
    text-align: right;
    color: #fff;
    margin-bottom: 40px;
    
    span {
      background: rgba(0, 0, 0, .4);
      padding: 2px;
      display: inline-block;
    }
    .bold {
      margin-bottom: 9px;
    }
  }
  .banner-color-text {
    font-size: 42px;
    color: #ee5730;
    letter-spacing: -0.42px;
    margin-bottom: 4px;
    
    sup {
      font-size: 57%;
    }
  }
  .banner-text {
    color: #fff;
    text-align: center;
    font-size: 42px;
    letter-spacing: -0.42px;
  }

  .banner-action-block {
    width: 599px;
    height: 346px;
    margin-top: 45px;
    border: 8px solid rgba(255, 255, 255, .2);
    padding: 9px;
  }
  .banner-action-inner-block {
    width: 100%;
    height: 100%;
    padding: 17px 42px 0;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
  }
  .banner-action-text {
    font-family: "Myriad", sans-serif;
    text-transform: none;
    margin-bottom: 47px;
    float: left;

    .first {
      float: left;
      font-size: 60px;
      line-height: 60px;
    }
    .second {
      float: left;
      font-size: 30px;
      line-height: 24px;
      margin-top: 6px;
      margin-left: 15px;
    }
    .color-text {
      color: #ff6600;
    }
    .third {
      display: block;
      float: left;
      font-size: 73px;
      line-height: 62px;
      text-transform: uppercase;
    }
    .fourth {
      display: block;
      float: left;
      font-size: 29px;
      line-height: 21px;
    }
  }
  .button {
    height: 76px;
    width: 405px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
  }

  .banner-img {
    position: absolute;
    top: -9px;
    left: -264px;
  }

}